<!-- footer.html -->
{% block footer %}
    {% if now %}
    <p style='font-family:微軟正黑體;'> Time:{{ now }}</p>
    {% else %}
    <p style='font-family:微軟正黑體;'>圖片/部份擷取自網路,如有侵權請通知下架 Email:brianden2356@gmail.com</p>
    {% endif %}
{% endblock %}
