<!-- index.html -->
{% extends 'base.html' %}
{% block title %} Welcome to my blog {% endblock %}
{% block headmessage %}
    <h3 style='font-faimily:標楷體;'> List </a>
{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class='panel panel-default'>
            <div class='panel-heading'>
                <p style='font-family:微軟正黑體;font-size:14pt;font-weight:bold;'>
                    <a href='/post/{{post.slug}}'>{{ post.title }}</a>
                </p>
            </div>
            <div class='panel-body' style='background-color:#eaffff'>
                <p>
                    {{ post.body | truncatechars:30 }}
                </p>
            </div>
            <div class='panel-footer' style='background-color:#efefef'>
                <p>
                    Publish Time: {{ post.pub_date | date:"Y M d, h:m:s"}}
                </p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

