<!--post.html-->
{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}{{ post.title }} —文學天地 {% endblock %}
{% block headmessage %}
    <h3 style='font-family:微軟正黑體;'>{{ post.title }}</h3>
{% endblock %}
{% block content %}
        <p style='font-family:微軟正黑李;font-size:12pt;letter-spacing:2pt;'>
            {{ post.body | markdown }}</a>
        </p>
{% endblock %}
